doctype html

html
    head
        meta(name='viewport', content='minimum-scale=1.0, width=device-width, maximum-scale=1.0, user-scalable=no')
        meta(charset='utf-8')
        title Fill out this Form
        style.
            label, input {
                display: block;
            }
    body
        h1 Welcome to User Manager
        a(href='./form')
            button Add a user
        a(href='./users')
            button See Users
